# Node modules
node_modules/
Backend/node_modules/
koko6/node_modules/

# Environment variables
.env

# Logs
logs
*.log
npm-debug.log*

# OS-specific files
.DS_Store
Thumbs.db

# Build output
dist/
build/
b
# Dependency directories
jspm_packages/
project_files
.history/

# Optional npm cache directory
.npm

# Optional eslint cache
.eslintcache

# Optional REPL history
.node_repl_history
